<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Cool</title>
    <link rel="icon" href="../images/clear.png" sizes="16x1">
    <link rel="stylesheet" href="../styles/master.css">

</head>
    <body>
        <div class="card">
            <div class="search">
                <input type="text" placeholder="enter city name" spellcheck="f
                "/>
                <button><img src="../images/search.png"></button>
            </div>
            <div class="weather">
                <img src="../images/clear.png" class="weather-icon"/>
                <h1 class="tmp">20°C</h1>
                <h2 class="cityname">Cairo</h2>
                <div class="details">
                    <div class="col">
                        <img src="../images/humidity.png"/>
                        <div>
                            <p class="humdity">50%</p>
                            <p>Humdity</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../images/wind.png"/>
                        <div>
                            <p class="wind">15 km/h</p>
                            <p>Wind Speed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tips">
                <p>Click Here for Tailored Weather Wear Tips!</p>
            </div>

        </div>
        <div class="profile">
            <h2>Nice to know who you are</h2>
            <button class="top">
                <img src="../images/love.png">
            </button>
            <div>
                <p>Mom</p>
            </div>
            <button class="middle">
                <img src="../images/man.png">
            </button>
            <div>
                <p>Traveller</p>
            </div>
            <button class="bottom">
                <img src="../images/flower.png">
            </button>
            <div>
                <p>Female</p>        
            </div>
        </div>
        <div class="status">
            <div class="mom">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi harum maxime quos corporis recusandae deleniti eos blanditiis modi, exercitationem inventore at impedit vitae, eaque aspernatur, doloribus hic nam id laborum.</p>   
            </div>
            <div class="traveller">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi harum maxime quos corporis recusandae deleniti eos blanditiis modi, exercitationem inventore at impedit vitae, eaque aspernatur, doloribus hic nam id laborum.</p>   
            </div>
            <div class="female">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi harum maxime quos corporis recusandae deleniti eos blanditiis modi, exercitationem inventore at impedit vitae, eaque aspernatur, doloribus hic nam id laborum.</p>   
            </div>
        </div>
    
        <script src="../scripts/main.js"></script>
    </body>
</html>