*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #e1e1e1;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(100deg, #fe5500, #cac7c7);
    color: #fff;
    margin: 10px 10px 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.logo img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px ;
}

.humdity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.tips{
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;

}
.profile{
    display: none;
    width: 90%;
    max-width: 250px;
    background: linear-gradient(100deg,#cac7c7, #fe5500,  #cac7c7);
    color: #fff;
    margin: -600px 500px 0px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.profile button{
    border: 0;
    outline: 0;
    width: 25%;
    background: #ebfffc;
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
    cursor: pointer;

}
.profile button img{
    width: 50px;
    margin: 25px;
    cursor: pointer;

}
.profile  div{
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

}

.status{
    position: relative;
    top: -450px;
    left: 750px;
    margin-left: 10px;
}
.mom{
    display: none;
    width: 90%;
    max-width: 700px;
    height: 400px;
    background: linear-gradient(100deg, #cac7c7, #fe5500);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* margin: 0px 750px 0px; */
}

.male{
    display: none;
    width: 90%;
    /* max-width: 700px; */
    background: linear-gradient(100deg, #cac7c7, #fe5500);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* margin: 0px 750px 0px; */
    margin-top: 25px;

}
.female{
    display: none;
    width: 90%;
    max-width: 700px;
    background: linear-gradient(100deg, #cac7c7, #fe5500);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* margin: 0px 750px 0px; */
    margin-top: 25px;
}

.weather,
.tips
{
    display: none;
}